a {
    font-family: monospace;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    background-color: lightcoral;
  }
h1, h2, h3 {
    color: navy;
    text-align: center;
}
li {
    font-style: italic;
}
#primaryArtist {
    text-decoration: underline;
}
.tracklist {
    color: white;
}
.decorativeFont {
    font-family: sans-serif;
}
td {
    font-style: italic;
    text-align: center;
}
