h1 {
    text-align: center;
    color: red;
    font-family: "Arial Black";
}
footer {
    text-align: center;
    color: darkblue;
}
.menu {
    background-color: darkblue;
}
.beverageMenu {
    background-color: darkblue;
}
.beverageMenu td {
    font-style: normal;
}