.restaurantName {
    font-family: serif;
    color: teal;
    text-align: center;
    font-style: italic;
}
a:visited {
    color: darkred;
}
a:hover {
    font-weight: bold;
}
a:active {
    text-decoration: none;
}
footer {
    text-align: center;
    color: teal;
}
.menu {
    background-color: lightsalmon;
}
.beverageMenu {
    background-color: lightsalmon;
}
.beverageMenu td {
    font-style: normal;
}
.glyphicon.glyphicon-chevron-left, .glyphicon.glyphicon-chevron-right {
    color: teal;
}
.required {
    font-weight: bold;
}
.contactForm {
    background-color: lemonchiffon;
}
